/* Universal Styles */

html {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    color: #AABA9E;
}

h1 {
    font-size: 4rem;
}

a::before {
    content: "[";
}

a::after {
    content: "]";
}

a:link, a:visited {
    color: #AABA9E;
    text-decoration: none;
}

a:hover, a:active {
    color:#c0ff90;
    text-decoration: underline;
}

h1, h2, h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}

p {
    margin: 1rem;
}

body {
    background-color:#0B3142;
}

/* Content Box Styles */

.refresher {
    width: 1.75rem;
    height: 1.75rem;
    margin-left: 1rem;
    float: right;
    cursor: pointer;
}

h2 {
    font-size: 3rem;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 5px #0B3142;
}

.content-box {
    border: 3px solid #AED1FF;
    background-color: #20546d;
    border-radius: 25px;
    width: 60%;
    margin: 1rem auto;
    padding: .5rem;
}

#affirmation {
    text-align: center;
    font-size: 2rem;
}

#reminder {
    margin: 1rem 10%;
    padding-left: .5rem;
    font-size: 1.5rem;
    text-align: left;
    border-left: 2px outset #AABA9E;
    letter-spacing: 1px;
}

#reminder::first-letter {
    font-weight: bold;
    font-size: 1.75rem;
}

#jokequote {
    text-align: center;
    font-family: 'Merienda', cursive;
    font-size: 2.5rem;
    color: #ffecb9;
}

#jokeauthor {
    text-align: center;
    font-style: italic;
}

/* Footer Styles */

footer {
    text-align: center;
}

/* Media Queries */

@media only screen and (max-width: 1250px) {
    .content-box {
        width: 75%;
    }
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 16px;
    }
    .content-box {
        width: 90%;
    }
}

@media only screen and (max-width: 380px) {
    html {
        font-size: 14px;
    }
    h2 {
        font-size: 2.5rem;
    }
    .refresher {
        margin-top: .5rem;
        margin-right: .5rem;
    }
    .content-box {
        width: 95%;
    }
}